# Python virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (only if you don't want to push raw data)
data/
*.csv

# OS files
.DS_Store
Thumbs.db